@use './_partials/reset.scss' as *;
@use './_partials/variable.scss' as *;
@import "../../node_modules//bootstrap/scss/bootstrap.scss";

body{
    font-family: "Montserrat";
    background-color: #343E3D;
    height: 100vh;
}